<!-- Modal -->

<renderless-cart-popup v-slot={popup,close_popup,cart}>


    <div :isopened="popup" id="cart_popup" class="modal fade s-family">
      
      <div  @click="close_popup" class="close_cart" >
      <img src="{{ 'close.static.svg' | asset_url }}" >
      </div>
      
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header">
                  
                  
                  <div class="hstack"><img class="cart_img"
        src="//cdn.shopify.com/s/files/1/0591/0036/4966/products/1_medium.jpg?v=1638981773">
    <div class="ms-2">
        <h5 class="font-12 s-family p-color">Sofá Triple 1 *</h5>
        <p class="font-12 s-family mb-0 text2-color">Color: Azul Barragán </p>
        <p class="font-12 s-family mb-0 text2-color">Patas: Madera Cilíndrica, Maple</p>
        <p class="font-12 s-family mb-0 text2-color">Costados: Madera Maple</p>
        <div class="hstack">
            <p class="font-12 s-family me-3">$ 45,000 </p>
            <p class="font-12 s-family text2-color text-decoration-line-through"> $ 550,000</p>
        </div>
    </div>
</div>
                  
                   
                    <h3 class=" w-100 text-center mt-4"> <span v-text="cart.title"></span> </h4>
                        <h3 class="text-center w-100 " style="font-size: 16px;">Quantity : <span
                                v-text="cart.quantity"></span> </h3>
                </div>
                <div class="modal-body">
                    <p class="text-center" v-text="cart.product_description"></p>
                </div>
                <div class="modal-footer d-flex flex-nowrap">
                    <a href="/cart" class="btn btn-success justify-content-center align-items-center d-flex">Cart</a>
                    <button class="btn btn-success justify-content-center align-items-center d-flex"
                        @click="close_popup" data-dismiss="modal">Continue</button>
                </div>
            </div>
        </div>
    </div>

</renderless-cart-popup>