        {% if form.posted_successfully? %}

<div class="modal fade" id="confirmation" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="confirmationLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title p-family" id="staticBackdropLabel">Se han enviado tus datos correctamente</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
    </div>
  </div>
</div>
              
     <script>
    window.addEventListener('load', function () {
      var confirmationModal = new bootstrap.Modal(document.getElementById('confirmation'), {
        backdrop:true,
        focus:true
      });
      
      confirmationModal.show();
    });
</script>
              
              
               
                {% endif %}