<section>
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#"><span>Inicio&nbsp;</span></a></li>
            <li class="breadcrumb-item"><a class="active-item" href="#"><span>Diseñadores</span></a></li>
        </ol>
    </div>
</section>
<section>
    <div class="container border-b">
        <h1>Diseñadores detras de nuestro sistema</h1>
    </div>
</section><!-- Start: 1 Row 2 Columns -->
<div class="container">
    <div class="row mt-3">
        <div class="col-6 col-sm-6 col-md-6 team-list"><img class="w-100"
                src="https://remedia.bss.design/assets/img/team%201.jpg"><a href="#"><br>david vivanco<br><br></a></div>
        <div class="col-6 col-sm-6 col-md-6 team-list"><img class="w-100"
                src="https://remedia.bss.design/assets/img/team%202.jpg"><a href="#"><br>david vivanco<br><br></a></div>
        <div class="col-6 col-sm-6 col-md-6 team-list"><img class="w-100"
                src="https://remedia.bss.design/assets/img/Rectangle%20183.jpg"><a href="#"><br>david
                vivanco<br><br></a></div>
        <div class="col-6 col-sm-6 col-md-6 team-list"><img class="w-100"
                src="https://remedia.bss.design/assets/img/Rectangle%20181%20(1).jpg"><a href="#"><br>david
                vivanco<br><br></a></div>
        <div class="col-6 col-sm-6 col-md-6 team-list"><img class="w-100"
                src="https://remedia.bss.design/assets/img/Rectangle%20182%20(3).jpg"><a href="#"><br>david
                vivanco<br><br></a></div>
        <div class="col-6 col-sm-6 col-md-6 team-list"><img class="w-100"
                src="https://remedia.bss.design/assets/img/Rectangle%20183%20(1).jpg"><a href="#"><br>david
                vivanco<br><br></a></div>
    </div>
</div><!-- End: 1 Row 2 Columns -->