<section>
    <div class="container low-border">
        <h1 class="space-end mx-550 ms-auto">NUB for business</h1>
    </div>
    <div class="container high-border"></div>
    <div class="container high-border">
        <p class="space-end mx-550 ms-auto pt-3">Somos tu mejor aliado en la elaboración de mobiliario óptimo para
            grandes obras. Nuestro departamento de proyectos especiales está listo para ayudarte.</p>
    </div>
</section>
<section>
    <div class="container pad-xl"
        style="background: url(&quot;https://remedia.bss.design/assets/img/bg22.jpg&quot;) no-repeat;background-size: cover;">
        <div class="row mx-600 mx-auto">
            <div class="col">
                <h1 class="text-white">Hemos colaborado en diferentes sectores comerciales.</h1>
                <div class="mt-5 text-white">
                    <div class="d-flex align-items-center mt-3"><img
                            src="https://remedia.bss.design/assets/img/aeropuertos.png">
                        <p class="mb-0 ms-3 s-family fw-normal">Lorem ipsum dolor</p>
                    </div>
                    <div class="d-flex align-items-center mt-3"><img
                            src="https://remedia.bss.design/assets/img/bancos.png">
                        <p class="mb-0 ms-3 s-family fw-normal">Lorem ipsum dolor</p>
                    </div>
                    <div class="d-flex align-items-center mt-3"><img
                            src="https://remedia.bss.design/assets/img/mas-productos%20(1).png">
                        <p class="mb-0 ms-3 s-family fw-normal">Lorem ipsum dolor</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-5">
    <!-- Start: 1 Row 2 Columns -->
    <div class="container">
        <div class="mb-3 full-border-top d-flex justify-content-between">
            <h4>Conoce nuestros sofás modulares</h4>
            <div class="product_slider_arrow"><img class="prev-arrow"
                    src="https://remedia.bss.design/assets/img/prev-arrow.png"><img class="next-arrow"
                    src="https://remedia.bss.design/assets/img/next-arrow.png"></div>
        </div>
        <div class="row">
            <div class="col">
                <div id="gallery-slider" class="swiper">
                    <div class="swiper-wrapper">
                        <div class="hover_product swiper-slide"><img class="w-100"
                                src="https://remedia.bss.design/assets/img/Rectangle%20200.png"></div>
                        <div class="hover_product swiper-slide"><img class="w-100"
                                src="https://remedia.bss.design/assets/img/Rectangle%20200.png"></div>
                        <div class="hover_product swiper-slide"><img class="w-100"
                                src="https://remedia.bss.design/assets/img/Rectangle%20200.png"></div>
                        <div class="hover_product swiper-slide"><img class="w-100"
                                src="https://remedia.bss.design/assets/img/Rectangle%20200.png"></div>
                        <div class="hover_product swiper-slide"><img class="w-100"
                                src="https://remedia.bss.design/assets/img/Rectangle%20200.png"></div>
                        <div class="hover_product swiper-slide"><img class="w-100"
                                src="https://remedia.bss.design/assets/img/Rectangle%20200.png"></div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- End: 1 Row 2 Columns -->
</section>
<section class="py-4">
    <div class="container">
        <div class="row">
            <div class="col pb-5">
                <h1>Contáctanos</h1>
                <p class="pt-5 mt-5 pb-4 mx-600">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus
                    hendrerit augue et, a nisi, eu at. Consequat odio scelerisque est tincidunt ipsum vitae.</p><a
                    class="text-black s-family text-decoration-none d-block" href="#">+52 22 2196 1353</a><a
                    class="text-black s-family text-decoration-none d-block" href="#">info@nubmobiliario.mx</a>
            </div>
            <div class="col">
                <!-- Start: Nubs Input -->
                <div class="form-floating mb-4"><input type="text" class="form-control" placeholder="Email"><label
                        class="form-label">Label</label></div><!-- End: Nubs Input -->
                <!-- Start: Nubs Input -->
                <div class="form-floating mb-4"><input type="text" class="form-control" placeholder="Email"><label
                        class="form-label">Label</label></div><!-- End: Nubs Input -->
                <!-- Start: Nubs Input -->
                <div class="form-floating mb-4"><input type="text" class="form-control mb-4" placeholder="Email">
                    <!-- Start: Nubs Textarea -->
                    <div class="form-floating mb-3"><textarea class="form-control"
                            placeholder="Message"></textarea><label class="form-label">message</label></div>
                    <!-- End: Nubs Textarea --><label class="form-label">Label</label>
                </div><!-- End: Nubs Input --><a class="main-button text-center w-100 text-uppercase"
                    href="#">enviar</a>
            </div>
        </div>
    </div>
</section>


<script>
    window.addEventListener('load', function () {

        new Swiper('#gallery-slider', {
            slidesPerView: 2,
            spaceBetween: 20,
            navigation: { nextEl: '.next-arrow', prevEl: '.prev-arrow' },
            breakpoints: { 981: { slidesPerView: 4, spaceBetween: 40 } },
        });
    })
</script>