<section>
    <div class="container low-border">
        <h1 class="space-end mx-550 ms-auto"> {{section.settings.title}} </h1>
        <div class="space-end mx-550 ms-auto pt-5 mt-5"> {{section.settings.description}} </div>
    </div>

    {% for block in section.blocks %}

    {% assign b = block.settings %}

    <div class="container low-border v-low pt-3 pb-4">
        <h6 class="space-end mx-550 ms-auto button-size s-family compliment text-uppercase ls-1"> {{b.title}}</h6>
        <div class="space-end mx-550 s-family ms-auto pt-3 text2-color button-size"> Watson Phillips y Compañía
            Sucesores,
            {{b.description}}</div>
    </div>

    {% endfor %}



</section>





{% schema %}
{
"name": "terms",
"settings": [
{
"type": "text",
"id": "title",
"label": "Title"
},
{
"type": "richtext",
"id": "description",
"label": "Description"
}
],
"blocks": [
{
"type": "term",
"name": "term",
"settings": [

{
"type": "text",
"id": "title",
"label": "Title"
},
{
"type": "richtext",
"id": "description",
"label": "Description"
}

]
}
]
}

{% endschema %}